{{#each posts as |post|}}
<div class="posts">
    <div class="postItem col-md-12">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="title">{{post.title}}</h1>
                <p class="lead">{{post.text}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}